-module({{packageName}}_logic_handler).

-export([handle_request/4]).

{{#authMethods}}
{{#isApiKey}}
{{#-first}}
-export([authorize_api_key/4]).
{{/-first}}
{{/isApiKey}}
{{/authMethods}}

{{^authMethods}}
-export([authorize_api_key/4]).
{{/authMethods}}

-type context() :: #{binary() => any()}.
-type handler_response() ::{
    Status :: cowboy:http_status(),
    Headers :: cowboy:http_headers(),
    Body :: jsx:json_term()}.

-export_type([handler_response/0]).


{{#authMethods}}
{{#isApiKey}}
{{#-first}}
-callback authorize_api_key(
    OperationID :: {{packageName}}_api:operation_id(),
    ApiKey :: binary(),
    Req :: cowboy_req:req()
) ->
    Result :: boolean() | {boolean(), context()}.
{{/-first}}
{{/isApiKey}}
{{/authMethods}}


-callback handle_request(OperationID :: {{packageName}}_api:operation_id(), cowboy_req:req(), Context :: context()) ->
    handler_response().

-spec handle_request(
    Handler :: atom(),
    OperationID :: {{packageName}}_api:operation_id(),
    Request :: cowboy_req:req(),
    Context :: context()
) ->
    handler_response().

handle_request(Handler, OperationID, Req, Context) ->
    Handler:handle_request(OperationID, Req, Context).

{{#authMethods}}
{{#isApiKey}}
{{#-first}}
-spec authorize_api_key(Handler :: atom(), OperationID :: {{packageName}}_api:operation_id(), ApiKey :: binary(), Req :: cowboy_req:req()) ->
    Result :: false | {true, context()}.
authorize_api_key(Handler, OperationID, ApiKey, Req) ->
    Handler:authorize_api_key(OperationID, ApiKey, Req).
{{/-first}}
{{/isApiKey}}
{{/authMethods}}

{{^authMethods}}
-spec authorize_api_key(Handler :: atom(), OperationID :: {{packageName}}_api:operation_id(), ApiKey :: binary(), Req :: cowboy_req:req()) ->
    Result :: false.
authorize_api_key(_Handler, _OperationID, _ApiKey, _Req) ->
    false.
{{/authMethods}}
