{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}{{#allParams}}-define({{^isBodyParam}}'{{baseName}}'{{/isBodyParam}}{{#isBodyParam}}'{{dataType}}'{{/isBodyParam}}).
{{/allParams}}{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
