{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}{{#allParams}}-define({{#isBodyParam}}'{{dataType}}'{{/isBodyParam}}, {{#isBodyParam}}'{{dataType}}'{{/isBodyParam}}).
{{/allParams}}{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
